.loginPage{
    width: 100% !important;
    height: 100% !important;
}

.loginHeader {
    /* margin: 0px; */
    width: 100% !important;
    height: 30px;
    background: #263238;
    text-indent: 15px;
    text-align: left;
    vertical-align: middle;
    align-items: center;
    /* display: flex; */
    
  }

  .loginSpan{
    /* text-indent: 20px; */
    height: 30%;
    display: inline-block;
    color:#fff;
    text-align: left;
    font-size: 18px;
    vertical-align: middle;
    margin: auto;
    /* align-items: center; */
    display: flex; 
  }

  .loginCard
  {
    width: 50%;
    padding: 0px;
    margin: auto;
    text-align: left;
    display: flex;
  }
  .loginCardContent{
    width: 90%;
    /* padding: 32px 32px 32px 32px;  */
    margin: auto;
    margin-left: 10%;
    text-align: left;
   
  }

  .loginForm{
      height: 100% ;
      width: 60%;
      margin-top: 5%;
      margin-left: 18%; 
      bottom: auto;
      right: auto;
      /* margin-right: -50%; */
      /* transform: 'translate(-50%, -50%)'; */
      vertical-align: middle;
      align-items: center;
      display: flex;

  }
.loginTypography{
    margin-top: 10%;
    display: flex;

    
}
  .formcontrol{
      width: 80%;
  }

  .loginFormButton{
    cursor: pointer;
  }

  .dispNone{
      display:none;
  }
  .dispBlock{
    display:block;
  }
  .loginFormRed{
      color :red;
      font-size: 15px;
  }